<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>在中國，玫瑰則因其枝莖帶刺，被認為是刺客、俠客的象徵。而在西方則把玫瑰花當作嚴守秘密的象徵，做客時看到主人家桌子上方畫有玫瑰，就明白在這桌上所談的一切均不可外傳，於是有了Sub rosa，「在玫瑰花底下」這個拉丁成語。 英語的under the rose則是源自德語unter der Rosen，古代德國的宴會廳、會議室以及酒店餐廳，天花板上常畫有或刻有玫瑰花，用來提醒與會者守口如瓶，嚴守秘密，不要把玫瑰花下的言行透露出去。這是起源於羅馬神話中的Horus撞見美女愛的女神維納斯偷情的情事，她兒子丘比特為了幫他母親保有名節，於是給了他一朵玫瑰，請他守口如瓶，Horus收了玫瑰於是緘默不語，成為「沈默之神」，這就是under the rose之所以為守口如瓶的由來。</string>
		<key>imageName</key>
		<string>flower1</string>
	</dict>
	<dict>
		<key>description</key>
		<string>菊屬（學名：Chrysanthemum）俗稱菊花，別名壽客、金英、黃華、秋菊、陶菊等，是菊目菊科多年生草本植物的一個屬。其下約有40個種，其中大多數原產於東亞，其變異中心在中國。在中國古典文學中及文化中，菊花有著重要的地位，其與梅、蘭、竹合稱四君子。</string>
		<key>imageName</key>
		<string>flower2</string>
	</dict>
	<dict>
		<key>description</key>
		<string>蒲公英（學名：Taraxacum），又稱黃花地丁、婆婆丁，是溫帶至亞熱帶常見的一種植物。蒲公英葉邊的形狀像一嘴尖牙。其英文名字Dandelion來自法語dent-de-lion，正是獅子牙齒之意。</string>
		<key>imageName</key>
		<string>flower3</string>
	</dict>
	<dict>
		<key>description</key>
		<string>金紅花是一種球根花卉，一般春季夏季秋季開花，金紅花可以淨化空氣，具有殺菌的功效，金紅花是一種觀賞植物，可以藥用，養殖金紅花比較容易，並不需要很專業的養殖知識，請參看本頁關於金紅花的養殖方法等知識。</string>
		<key>imageName</key>
		<string>jinhonghua</string>
	</dict>
	<dict>
		<key>description</key>
		<string>鐵線蕨是一種蕨類植物，不開花，鐵線蕨可以淨化空氣，有除甲醛的作用，可以藥用，喜歡陰涼環境，養殖鐵線蕨比較容易，並不需要很專業的養殖知識，請參看本頁關於鐵線蕨的養殖方法等知識。</string>
		<key>imageName</key>
		<string>tiexianjue</string>
	</dict>
	<dict>
		<key>description</key>
		<string>棕竹是一種棕櫚科植物，一般夏季開花，棕竹可以淨化空氣，棕竹是一種觀賞植物，可以藥用，喜歡陽光，養殖棕竹對技術要求不高，但也需留心養殖，請參看本頁關於棕竹的養殖方法等知識。</string>
		<key>imageName</key>
		<string>zongzhu</string>
	</dict>
	<dict>
		<key>description</key>
		<string>秋水仙是一種球根花卉，一般夏季開花，秋水仙是一種觀賞植物，可以藥用，養殖秋水仙對技術要求不高，但也需留心養殖，請參看本頁關於秋水仙的養殖方法等知識。</string>
		<key>imageName</key>
		<string>qiushuixian</string>
	</dict>
	<dict>
		<key>description</key>
		<string>花菱草是一種多年生草本花卉，一般春季夏季開花，花菱草可以淨化空氣，花菱草是一種觀賞植物，可以藥用，養殖花菱草對技術要求不高，但也需留心養殖，請參看本頁關於花菱草的養殖方法等知識。</string>
		<key>imageName</key>
		<string>hualingcao</string>
	</dict>
	<dict>
		<key>description</key>
		<string>吊燈花是一種藤本花卉，一般四季開花，可以藥用，養殖吊燈花比較容易，並不需要很專業的養殖知識，請參看本頁關於吊燈花的養殖方法等知識。</string>
		<key>imageName</key>
		<string>diaodenghua</string>
	</dict>
	<dict>
		<key>description</key>
		<string>蒜香藤是一種二年生草本花卉，一般秋季冬季開花，蒜香藤可以淨化空氣，有驅蚊的作用，蒜香藤是一種觀賞植物，可以藥用，養殖蒜香藤對技術要求不高，但也需留心養殖，請參看本頁關於蒜香藤的養殖方法等知識。</string>
		<key>imageName</key>
		<string>suanxiangteng</string>
	</dict>
	<dict>
		<key>description</key>
		<string>雛菊是一種多年生草本花卉，一般春季夏季開花，雛菊可以淨化空氣，可以藥用，養殖雛菊比較容易，並不需要很專業的養殖知識，請參看本頁關於雛菊的養殖方法等知識。</string>
		<key>imageName</key>
		<string>chuju</string>
	</dict>
	<dict>
		<key>description</key>
		<string>龜背竹是一種藤本花卉，一般秋季開花，龜背竹可以淨化空氣，喜歡陰涼環境，養殖龜背竹對技術要求不高，但也需留心養殖，請參看本頁關於龜背竹的養殖方法等知識。</string>
		<key>imageName</key>
		<string>guibeizhu</string>
	</dict>
	<dict>
		<key>description</key>
		<string>紫鳳梨是一種鳳梨科植物，一般夏季秋季開花，紫鳳梨可以淨化空氣，有除甲醛的作用，可以提神，養殖紫鳳梨對技術要求不高，但也需留心養殖，請參看本頁關於紫鳳梨的養殖方法等知識。</string>
		<key>imageName</key>
		<string>zifengli</string>
	</dict>
	<dict>
		<key>description</key>
		<string>粉掌是一種多年生草本花卉，一般四季開花，粉掌可以淨化空氣，粉掌是一種觀賞植物，喜歡陰涼環境，養殖粉掌比較容易，並不需要很專業的養殖知識，請參看本頁關於粉掌的養殖方法等知識。</string>
		<key>imageName</key>
		<string>fenzhang</string>
	</dict>
	<dict>
		<key>description</key>
		<string>浮萍是一種水生花卉，一般春季夏季開花，請參看本頁關於浮萍的養殖方法等知識。</string>
		<key>imageName</key>
		<string>fuping</string>
	</dict>
	<dict>
		<key>description</key>
		<string>寶塔草是一種水生花卉，不開花，寶塔草可以淨化空氣，養殖寶塔草對技術要求不高，但也需留心養殖，請參看本頁關於寶塔草的養殖方法等知識。</string>
		<key>imageName</key>
		<string>baotacao</string>
	</dict>
	<dict>
		<key>description</key>
		<string>波浪椒草是一种水生花卉，不开花，波浪椒草可以净化空气，波浪椒草是一种观赏植物，养殖波浪椒草对技术要求不高，但也需留心养殖，请参看本页关于波浪椒草的养殖方法等知识。</string>
		<key>imageName</key>
		<string>bolangjiaocao</string>
	</dict>
	<dict>
		<key>description</key>
		<string>埃及莎草是一種水生花卉，一般夏季開花，埃及莎草可以淨化空氣，埃及莎草是一種觀賞植物，養殖埃及莎草對技術要求不高，但也需留心養殖，請參看本頁關於埃及莎草的養殖方法等知識。</string>
		<key>imageName</key>
		<string>aijishacao</string>
	</dict>
</array>
</plist>
